.bootstrap_img
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    padding: 0
    margin-right: 20vh
    p
        margin: 0
        padding: 0
        font-size: 5vh
        font-weight: 700
    img
        width: 6vh
        object-fit: contain
        margin: 0
        padding: 0

.icon_react
    font-size: 3vh
    margin-right: 5vh
    color: black

.container_icons
    margin-left: 5vh
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

@media (max-width: 600px)
    .container_icons, .bootstrap_img, .icon_react
        margin: 0

@media (max-width: 900px)
    .container_icons, .bootstrap_img, .icon_react
        margin: 0


@media (max-width: 1200px)
    .container_icons, .bootstrap_img, .icon_react
        margin: 0

@media (max-width: 1300px)
    .container_icons, .bootstrap_img, .icon_react
        margin: 0