@use '../../../../../sass/mixins'
@use '../../../../../sass/variables'

@media (max-width: 600px)
    .browse_title
        margin-top: 0vh
        margin-bottom: 8vh
    .browse_categories
        @include mixins.center
        flex-direction: column


@media (max-width: 900px)
    .browse_title
        margin-top: 0vh
        margin-bottom: 8vh
    .browse_categories
        @include mixins.center
        flex-direction: column
