@use '../../../../../sass/mixins'
@use '../../../../../sass/variables'

.browse_container
    @include mixins.center
    flex-direction: column
    height: 100vh

.browse_title
    margin-top: 6vh
    margin-bottom: 8vh
    p
        font-size: 5vh
        font-weight: 600
    span
        font-size: 2vh

.browse_categories
    @include mixins.center
    gap: 5vh
    
.browse_container_img
    @include mixins.remover_margens
    @include mixins.center
    flex-direction: column
    cursor: pointer
    
    img
        width: 45vh
        border-radius: 20px
    p
        font-size: 3vh
        margin: 1vh
        font-weight: 500


@media (max-width: 900px)
    .browse_title
        margin-top: 0vh
        margin-bottom: 8vh
    .browse_categories
        @include mixins.center
        flex-direction: column
    .browse_container
        height: auto

@media (max-width: 1300px)
    .browse_title
        margin-top: 0vh
        margin-bottom: 8vh
    .browse_categories
        @include mixins.center
    .browse_container
        height: auto
    .browse_container_img
        img
            width: 30vh