@use '../../../../../sass/mixins'
@use '../../../../../sass/variables'

@media (max-width: 1500px)
    .beautiful_container
        flex-direction: column
        height: auto
        width: 100%
        padding-top: 5vh
        padding-bottom: 5vh
    
    .beautiful_box2, .beautiful_box3
        display: none